.App {
  /* border: 2px solid gray; */
  /* border-radius: 3px; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: aliceblue important!;
  background-color: #2d3c5e important!;
  padding: 2rem 1.5rem;
  display: flex;
  /* align-items: flex-start; */
  flex-direction: column;
  color: whitesmoke;
  /* gap: 1rem; */
  height: 100vh;
}

#divider {
  margin: 0 auto 1rem;
  height: 2px;
  width: 100%;
  background: blue;
  background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
}

h1 {
  text-align:center;
  margin-bottom: 1rem;
}

li div:hover {
  cursor: pointer;
  color: rgb(110, 118, 118);
  transition: color .15s .15s;;
}

ul {
  list-style: square;
  margin-left: -1.5rem;
}

li {
	padding: 0 0 0 0.5rem;
}

li:not(:last-child) {
	border-bottom: 1px solid lightblue;
}

li:first-child {
	margin-top: 1rem;
}

li:last-child {
	margin-bottom: 1rem;
}
