.App {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #2d3c5e important!;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  height: 100vh;
  overflow-y: auto;
}

button {
  cursor: pointer;
}

.showDomTreeWrapper {
  display: flex; 
  height: 100%;
  justify-content: center; 
  align-items: center;
}

.showHideBtn {
  position: absolute;
  padding: 0;
  top: .6rem;
  left: .6rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: none;
  text-align: center;
  font-weight: bold;
  background-color: whitesmoke;
  transition: background-color .1s .1s;
}

.showHideBtn:hover {
  background-color: rgb(209, 209, 209);
}

.divider {
  display: inline-block;
  margin-bottom: 1rem;
  height: 2px;
  background: blue;
  background: linear-gradient(90deg, hsl(0, 0%, 20%), hsl(0, 0%, 70%), hsl(0, 0%, 20%));
  flex-shrink: 0;
}

h1 {
  text-align:center;
  margin-bottom: 1rem;
}

li div:hover {
  cursor: pointer;
  color: rgb(110, 118, 118);
  transition: color .15s .15s;
}

ul {
  list-style: square;
  margin-left: -1.5rem;
}

li {
	padding: 0 0 0 0.5rem;
}

li:first-child {
	margin-top: 1rem;
}

li:last-child {
	margin-bottom: 1rem;
}
